<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <div class="d-flex flex-column"><button (click)="dynamicallyLoad('create_batch')" class="btn btn-primary">Create
                Batch</button>
            <button (click)="dynamicallyLoad('edit_batch')" class="btn btn-primary mt-3">Edit Batch</button>
            <button (click)="dynamicallyLoad('batch_notification')" class="btn btn-primary mt-3">Batch
                Notification</button>
        </div>
    </div>
</div>